{% extends 'base_generic.html' %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center h-100" >
        <div class="container mt-5 p-2 bg-dark text-white rounded-3 shadow" style="width: 25rem" >
            <div class="d-flex justify-content-center align-items-center">
                <h2>Iniciar Sesión</h2>
            </div>
                    <form method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-success mt-4 shadow-sm d-flex align-items-center">Iniciar Sesión</button>
                    </form>
        </div>
    </div>
{% endblock %}

